flet>=0.85,<0.86
pyyaml>=6.0
pyserial>=3.5
winrt-Windows.Devices.Bluetooth>=3.2.1
winrt-Windows.Devices.Bluetooth.Rfcomm>=3.2.1
winrt-Windows.Networking.Sockets>=3.2.1
winrt-Windows.Storage.Streams>=3.2.1
winrt-Windows.Foundation>=3.2.1
winrt-Windows.Networking>=3.2.1
